<div class="my-container">
  <div class="container">
    <!-- container.component.html -->
    <app-jellyfish-list></app-jellyfish-list>
    <div class="container-options">
      <div class="column">
        <app-jellyfish></app-jellyfish>
      </div>
      <div class="column">
        <app-jellyfish-conhecido></app-jellyfish-conhecido>
      </div>
    </div>
  </div>
  <div class="button-container">
    <button class="button" *ngIf="contadorErros < limiteOportunidades" (click)="submeterRespostas()">Submeter respostas</button>
    <div *ngIf="alertMessage" class="alert-success">
      {{ alertMessage }}
    </div>
    <div *ngIf="errorMessage" class="alert-error">
      {{ errorMessage }}
    </div>
    <button class="button" routerLink="/home">Sair</button>
  </div>
</div>