<div class="container-list">
    <div class="container-table">
        <h1>Lista de jellyfish Desconhecidos</h1>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome da Imagem</th>
                    <th>Imagem</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let jellyfishunknown of originalJellyfishUnknownList" class="jellyfish-row">
                    <td>{{ jellyfishunknown.id }}</td>
                    <td>{{ jellyfishunknown.nome_imagem }}</td>
                    <td class="image-cell">      
                        <img *ngIf="jellyfishunknown.nome_imagem"
                            [src]="'http://localhost:3000/assets/JellyFishDesconhecidos/' + jellyfishunknown.nome_imagem"
                            alt="Imagem Jellyfish Desconhecido" (error)="handleImageError(jellyfishunknown)">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>