<!-- landing-page.component.html -->



<nav class="navbar">
    <ul>
        <li><a routerLink="/">Área utilizador</a></li>
        <li><a routerLink="/admin">Área Admin</a></li>
        <!-- <li><a routerLink="/">Sobre</a></li> -->
        <li><a routerLink="/register">Registar</a></li>
        <li><a routerLink="/login">Login</a></li>
    </ul>
</nav>

<div class="background-container">
    <section>
        <div class="content">
            <img src="/assets/exemploJelly.jpg" alt="Imagem de Água-viva">
            <div class="text-content">
                <h2>Plataforma de Crowdsourcing</h2>
                <p>Bem-vindo ao nosso quiz sobre águas-vivas! Teste seus conhecimentos sobre essas fascinantes criaturas marinhas e aprenda mais sobre sua biologia, hábitos e muito mais.</p>
                <p>Descubra o quão bem você conhece as águas-vivas respondendo às perguntas abaixo. Clique no botão para começar!</p>
                <a routerLink="/quizz" id="startButton" class="animated">Começar Quizz</a>
            </div>
        </div>
    </section>
</div>
