<!-- landing-page.component.html -->



<nav class="navbar">
    <ul>
        <li><a routerLink="/">Jellyfish</a></li>
        <li><a routerLink="/como-responder">Como Responder</a></li>
        <li><a routerLink="/outros">Outros</a></li>
    </ul>
</nav>

<div class="background-container">
    <section>
        <div class="content">
            <img src="/assets/exemploJelly.jpg" alt="Imagem de Água-viva">
            <div class="text-content">
                <h2>Descubra o Mundo das Águas-vivas</h2>
                <p>Bem-vindo ao nosso quiz sobre águas-vivas! Teste seus conhecimentos sobre essas fascinantes criaturas marinhas e aprenda mais sobre sua biologia, hábitos e muito mais.</p>
                <p>Descubra o quão bem você conhece as águas-vivas respondendo às perguntas abaixo. Clique no botão para começar!</p>
                <a routerLink="/quizz" id="startButton" class="animated">Começar Quiz</a>
            </div>
        </div>
    </section>
</div>
