<div id="app">
    <!-- Título da Área Administrador -->
    <h1>Área Administrador</h1>
  
    <!-- Menu -->
    <div id="menu">
      <ul>
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/admin/answers">Lista de Respostas</a></li>
        <li><a routerLink="/admin/list">Lista de Jellyfish</a></li>
        <li><a routerLink="/admin/userlist">Lista de utilizadores</a></li>
        <li><a routerLink="/admin/api">API</a></li>
      </ul>
    </div>
  
    <!-- Conteúdo da View Angular -->
    <div id="content">
      <router-outlet></router-outlet>
    </div>
  </div>
  