<div class="container-table">
    <div class="container">
         <div class="search-container">
            <i class="fas fa-search"></i>
            <input class="search-box" type="text" placeholder="Nome imagem" [(ngModel)]="searchTerm" (input)="filterRespostas1()">
            <input class="search-box" type="text" placeholder="Id Imagem" [(ngModel)]="searchTermId" (input)="filterRespostas()">
        </div>
        <div class="button-container">
            <button class="export-button" (click)="exportAllAnswersExcel()">Exportar respostas em excel</button>
            <button class="export-button" (click)="exportAllAnswersJSON()">Exportar respostas em Json</button>
        </div>
    </div>
   
    <h3>Listagem de respostas:</h3>
        <table>
            <thead>
                <tr>
                    <th>Id Resposta</th>
                    <th>ID da Imagem</th>
                    <th>Resposta</th>
                    <th>Data de resposta</th>
                    <th>Nome da Imagem</th>
                    <th>Imagem</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let respostas of respostasLista"  class="answers-row">
                    <td>{{ respostas.id }}</td>
                    <td>{{ respostas.id_jellyfishunknown }}</td>
                    <td>{{ respostas.resposta_utilizador }}</td>
                    <td>{{ respostas.data_resposta }}</td>
                    <td>{{ respostas.jellyfish?.nome_imagem }}</td>
                    <td class="image-cell">      
                        <img *ngIf="respostas.jellyfish?.nome_imagem" [src]="'http://localhost:3000/assets/jellyfishDesconhecidos/' + respostas.jellyfish.nome_imagem" alt="Imagem Jellyfish">
                    </td>
                </tr>
            </tbody>
        </table>

</div>