    .search-container {
        display: flex;
        align-items: center;
        margin-left: 35px;

    }

    .search-box {
        padding: 10px;
        margin-right: 10px;
        border: 1px solid #b3c9d6;
        border-radius: 5px;
    }

    h3 {
        color: #1f3a5a;
        margin-bottom: 20px;
        text-align: center;
        font-size: 25px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        font-size: 16px;
        margin: 20px;
        background-color: #f5fbff;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s ease;
    }

    th,
    td {
        border: 1px solid #b3c9d6;
        text-align: left;
        padding: 12px;
    }

    th {
        background-color: #4e92b5;
        color: white;
    }

    tr:nth-child(even) {
        background-color: #edf7ff;
    }

    img {
        width: 170px;
        height: 100px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
    }

    .jellyfish-row:hover {
        background-color: #d4ecff;
    }


    .image-cell {
        text-align: center;
    }


    .answers-row:hover {
        background-color: #d4ecff;
    }

    .container-table {
        display: flex;
        flex-direction: column;
        margin-right: 30px;
        margin-top: 30px;
    }

    .container {
        display: flex;
        justify-content: space-between;
        /* Isso coloca os elementos o mais longe possível */
        align-items: stretch;
        /* Isso faz com que todos os elementos tenham a mesma altura */
    }

    .button-container {
        display: flex;
        align-items: center;
        padding: 0px;
        margin: 0px;
    }

    .export-button {
        background-color: green;
        color: white;
        border: none;
        padding: 10px 10px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.2s ease;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-left: 0;
        margin-right: 10px;
    }

    .export-button:hover {
        background-color: lightgreen;
        transform: scale(1.05);
        cursor: pointer;
    }